WcfDemo/WcfDemo.Client/Service References/PingService/PingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:www-infosupport-com:wcfdemo:v1" elementFormDefault="qualified" targetNamespace="urn:www-infosupport-com:wcfdemo:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2350/PingService.svc?xsd=xsd2" namespace="urn:www-infosupport-com:wcfdemo:v1:datacontracts" />
  <xs:import schemaLocation="http://localhost:2350/PingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveMeAllTheDataz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="urn:www-infosupport-com:wcfdemo:v1:datacontracts" minOccurs="0" name="data" nillable="true" type="q1:Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveMeAllTheDatazResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="urn:www-infosupport-com:wcfdemo:v1:datacontracts" minOccurs="0" name="GiveMeAllTheDatazResult" nillable="true" type="q2:Dataz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Throw">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ThrowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Put">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="data" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetResult" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThrowCustomException">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ThrowCustomExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomEnvelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Value" type="xs:int" />
  <xs:element name="CustomReturnEnvelope">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>