WcfDemo/WcfDemo.Client/Service References/PingService/PingService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:www-infosupport-com:wcfdemo:v1:datacontracts" elementFormDefault="qualified" targetNamespace="urn:www-infosupport-com:wcfdemo:v1:datacontracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2350/PingService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="ZId" type="xs:int" />
      <xs:element minOccurs="0" name="Ignored" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data" nillable="true" type="tns:Data" />
  <xs:complexType name="Dataz">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dataz" nillable="true" type="tns:Dataz" />
</xs:schema>