WcfDemo/WcfDemo.Client/Service References/PingService/PingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:www-infosupport-com:wcfdemo:v1" elementFormDefault="qualified" targetNamespace="urn:www-infosupport-com:wcfdemo:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2350/PingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfDemo.Contracts" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveMeAllTheDataz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfDemo.Contracts" minOccurs="0" name="data" nillable="true" type="q1:Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveMeAllTheDatazResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfDemo.Contracts" minOccurs="0" name="GiveMeAllTheDatazResult" nillable="true" type="q2:Dataz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>