WcfService1/Discovery.Console/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:www-infosupport-com:wsdiscovery-demo" elementFormDefault="qualified" targetNamespace="urn:www-infosupport-com:wsdiscovery-demo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AskResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>